[user]
    name = Takaaki Hirano
    email = hivedark@gmail.com
[color]
    ui = auto
[core]
    editor = vim
    pager = less -R
    excludesfile = ~/.gitignore
    autocrlf = input
[alias]
    a = add
    b = branch
    ci = commit
    co = checkout
    d = diff
    f = fetch
    l = log --decorate
    l1 = log --decorate --oneline
    m = merge
    st = status
[push]
    default = simple
[credential]
    helper = cache --timeout=300

