[user]
    name = Takaaki Hirano
    email = hivedark@gmail.com
[color]
    ui = auto
[core]
    editor = vim
    pager = less -R
    excludesfile = ~/.gitignore
    whitespace = trailing-space, space-before-tab
    autocrlf = input
    safecrlf = true
[alias]
    a = add
    b = branch
    ci = commit
    ca = commit --amend
    co = checkout
    cb = checkout -b
    d = diff
    dc = diff --cached
    dh = diff HEAD^
    f = fetch
    l = log --oneline
    l5 = log --oneline -n5
    ll = log --decorate
    ls = log --decorate --stat
    m = merge --ff-only
    p = pull --ff-only
    r = rebase
    s = status
[push]
    default = simple
[credential]
    helper = cache --timeout=300

